{% extends('@Api/Core/emailCore.html.twig') %}


{% block Content %}

    <p>
        Hello {{ name }}
    </p>
    <h4>Other to verify your account, click on the link bellow: </h4>
    <h4>Account verification link: </h4>
    <p> <a href="http://127.0.0.1/zZeend/Back-End/web/app_dev.php/web/email-check/{{ codeGen }}">http://127.0.0.1/zZeend/Back-End/web/app_dev.php/web/email-check/{{ codeGen }}</a></p>
    <br>

    <h4>zZeend Team</h4>
{% endblock %}
