{% extends('@Api/Core/emailCore.html.twig') %}


{% block Content %}

    <p>
        Hello {{ nom }}
    </p>
    <h4>Other to create a new password, click on the link bellow: </h4>
    <h4>Account verification link</h4>
    <p> <a href="http://127.0.0.1/zZeend/Back-End/web/app_dev.php/web/password_forgot/{{ codeGen }}">http://127.0.0.1/zZeend/Back-End/web/app_dev.php/web/password_forgot/{{ codeGen }}</a></p>
    <br>

    <h4>zZeend Team</h4>
{% endblock %}
