{% extends('@Api/Core/emailCore.html.twig') %}


{% block Content %}

 {% if(code == "auth/account_enabled") %}
        <h4 style="padding: 0px; margin: 0px; font-size: 15px; text-align: center;">{% trans %} Your account is now verified. You can now login. {% endtrans %}</h4>
 {% endif %}

    {% if(code == "auth/codeGen_error") %}
        <h4 style="padding: 0px; margin: 0px; font-size: 15px; text-align: center;">{% trans %} Invalid url. Try to login to get a new Url {% endtrans %}</h4>
    {% endif %}

{% endblock %}
