{% extends('@Api/Core/emailCore.html.twig') %}


{% block Content %}
    <div class="alert alert-primary reset-success-message" role="alert" style="display: none;">
        You have reset your password. You can now login using zZeend mobile app.
    </div>
    <form method="post" class="reset_password">
        <div>
            <input type="password" class="form-control" id="first_password" placeholder="Your new password (more than 5 characters)"/>
        </div>

        <div style="margin-top: 30px;">
            <input type="password" class="form-control" id="second_password" placeholder="Confirm password (more than 5 characters)"/>
        </div>
        <div style="margin-top: 30px; text-align: center;">
            <input type="submit" id="submit_button" value="Reset password" class="btn" style="background-color: #222; color: white;"/>
        </div>
    </form>

{% endblock %}
